# Ignorar los repositorios hijos para manejarlos de forma independiente
2026-MTN-TP3-Front-Miceli-Tabuada/
2026-MTN-TP3-Back-Miceli-Tabuada/

# Variables de entorno con secretos reales (NO commitear)
.env
